# Subsetting 

Review core methods to selected data from a `panda.Dataframe`

## Readind CSV

In [1]:
import pandas as pd 

# read in fiule, argument is the file path 
df = pd.read_csv('data/wetlands_seasonal_bird_diversity.csv')

# Print data frame's frist five rows 
df.head()

,year,CSM_winter,CSM_spring,CSM_fall,MUL_winter,MUL_spring,MUL_fall,SDW_winter,SDW_spring,SDW_fall,TJE_winter,TJE_spring,TJE_fall
0,2010,39.0,40.0,50.0,45.0,NaN,61.0,NaN,75.0,85.0,NaN,NaN,81.0
1,2011,48.0,44.0,NaN,58.0,52.0,NaN,78.0,74.0,NaN,67.0,70.0,NaN
2,2012,51.0,43.0,49.0,57.0,58.0,53.0,71.0,72.0,73.0,70.0,63.0,69.0
3,2013,42.0,46.0,38.0,60.0,58.0,62.0,69.0,70.0,70.0,69.0,74.0,64.0
4,2014,38.0,43.0,45.0,49.0,52.0,57.0,61.0,78.0,71.0,60.0,81.0,62.0

In [2]:
# priny data frames last five rows 

df.tail()

,year,CSM_winter,CSM_spring,CSM_fall,MUL_winter,MUL_spring,MUL_fall,SDW_winter,SDW_spring,SDW_fall,TJE_winter,TJE_spring,TJE_fall
9,2019,39.0,39.0,40.0,57.0,52.0,53.0,54.0,55.0,53.0,63.0,54.0,50.0
10,2020,46.0,NaN,47.0,56.0,NaN,66.0,57.0,NaN,58.0,54.0,40.0,54.0
11,2021,47.0,44.0,53.0,54.0,55.0,60.0,57.0,58.0,57.0,53.0,68.0,51.0
12,2022,40.0,46.0,49.0,60.0,55.0,65.0,57.0,60.0,57.0,60.0,61.0,60.0
13,2023,56.0,43.0,36.0,72.0,59.0,53.0,64.0,63.0,33.0,60.0,56.0,38.0

In [3]:
df.columns

Index(['year', 'CSM_winter', 'CSM_spring', 'CSM_fall', 'MUL_winter',
       'MUL_spring', 'MUL_fall', 'SDW_winter', 'SDW_spring', 'SDW_fall',
       'TJE_winter', 'TJE_spring', 'TJE_fall'],
      dtype='object')

In [4]:
df.dtypes

year            int64
CSM_winter    float64
CSM_spring    float64
CSM_fall      float64
MUL_winter    float64
MUL_spring    float64
MUL_fall      float64
SDW_winter    float64
SDW_spring    float64
SDW_fall      float64
TJE_winter    float64
TJE_spring    float64
TJE_fall      float64
dtype: object

In [6]:
# print data frame's shape: outpit is a tupe (# rows, # columns)
df.shape

(14, 13)

## Select a single column 

Simplest case: selecting a single column by column name. 

General synax 

```
df['column_name']
```

This is an example of **lable based subsetting**. Which means we selected data from out datafreame using the names of the columns, *not their position*  

### Example

In [11]:
# select number of bird species observed at Mugu Lagoon in spring 

mul_spring = df['MUL_spring']
mul_spring

0      NaN
1     52.0
2     58.0
3     58.0
4     52.0
5     50.0
6     48.0
7     54.0
8     54.0
9     52.0
10     NaN
11    55.0
12    55.0
13    59.0
Name: MUL_spring, dtype: float64

In [12]:
type(mul_spring)

pandas.core.series.Series

We can do lable based subsetting of a single column using attribute synatac 

`df.column_name`

### Example

In [14]:
df.MUL_spring

0      NaN
1     52.0
2     58.0
3     58.0
4     52.0
5     50.0
6     48.0
7     54.0
8     54.0
9     52.0
10     NaN
11    55.0
12    55.0
13    59.0
Name: MUL_spring, dtype: float64

FAVOR `df[column_name]` instead of `df.column_name` !!!

## Selecting multiple columns 

Sytax: 
`df[[col_1, col_2]]`


Notice: DOUBLE SQUARE BRACKETS 
1) selecting brackets 
2) passing a list inside

In [20]:
# select species abudance in Tijuana Estuary during winter and fall 

tje_wf = df[ ['TJE_winter', 'TJE_fall']]

In [23]:
# Check the type 
print(type(tje_wf))

# Check the shape 
print(tje_wf.shape)

<class 'pandas.core.frame.DataFrame'>
(14, 2)

## ... using a slice 

To select a slice of the columns we will ise a special case of `loc` selection. 

```
df.loc[ : , 'column_start':`column_end`]
``` 

`column start` and `column end` = starting and ending poiny ofa column slice, slice includes BOTH endpoints 

- the first value pass to `loc` is used to select rows, using `:` as the row selection parameters means "select all the rows"

### Example

In [25]:
# select columns between CSM_winter and MUL_fall 
csm_mul = df.loc[ : , 'CSM_winter': 'MUL_fall']
csm_mul.head()

   CSM_winter  CSM_spring  CSM_fall  MUL_winter  MUL_spring  MUL_fall
0        39.0        40.0      50.0        45.0         NaN      61.0
1        48.0        44.0       NaN        58.0        52.0       NaN
2        51.0        43.0      49.0        57.0        58.0      53.0
3        42.0        46.0      38.0        60.0        58.0      62.0
4        38.0        43.0      45.0        49.0        52.0      57.0

## Selecting rows 

### ... Using a condition 

Syntax: `df[conditional_on_rows]`

That `conditional_on_rows` can be many things 

### Example 
We are interested in all data after 2020

In [27]:
# selecting all row wiy year > 2020
post_2020 = df[df['year']>2020]
post_2020

,year,CSM_winter,CSM_spring,CSM_fall,MUL_winter,MUL_spring,MUL_fall,SDW_winter,SDW_spring,SDW_fall,TJE_winter,TJE_spring,TJE_fall
11,2021,47.0,44.0,53.0,54.0,55.0,60.0,57.0,58.0,57.0,53.0,68.0,51.0
12,2022,40.0,46.0,49.0,60.0,55.0,65.0,57.0,60.0,57.0,60.0,61.0,60.0
13,2023,56.0,43.0,36.0,72.0,59.0,53.0,64.0,63.0,33.0,60.0,56.0,38.0

In [28]:
# BOOLEAN 
print(df['year']>2020)

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11     True
12     True
13     True
Name: year, dtype: bool

### Check on 

get the subset of the dataframe on which the San Dieguito wetland has at least 75 species recorded during spring

In [35]:
df[df['SDW_spring']>=75]

,year,CSM_winter,CSM_spring,CSM_fall,MUL_winter,MUL_spring,MUL_fall,SDW_winter,SDW_spring,SDW_fall,TJE_winter,TJE_spring,TJE_fall
0,2010,39.0,40.0,50.0,45.0,NaN,61.0,NaN,75.0,85.0,NaN,NaN,81.0
4,2014,38.0,43.0,45.0,49.0,52.0,57.0,61.0,78.0,71.0,60.0,81.0,62.0

### Example 

Looking at data from 2012-2015 (including both years)

In [37]:
subset = df[df['year'].between(2012,2015)]
subset

,year,CSM_winter,CSM_spring,CSM_fall,MUL_winter,MUL_spring,MUL_fall,SDW_winter,SDW_spring,SDW_fall,TJE_winter,TJE_spring,TJE_fall
2,2012,51.0,43.0,49.0,57.0,58.0,53.0,71.0,72.0,73.0,70.0,63.0,69.0
3,2013,42.0,46.0,38.0,60.0,58.0,62.0,69.0,70.0,70.0,69.0,74.0,64.0
4,2014,38.0,43.0,45.0,49.0,52.0,57.0,61.0,78.0,71.0,60.0,81.0,62.0
5,2015,44.0,42.0,45.0,58.0,50.0,51.0,71.0,61.0,65.0,73.0,76.0,64.0

## Avoid using `loc` for selecting only rows 

It is equivalent to write 

`df[df['year']<2015]`

`df.loc[df['year']<2015, : ]`

 ^^^^^^ select rows^^^^^^^^| ^^^ Select columns

## ... using multiple conditions 

Combine conditions to select rows by surrounding each in () and using the | and & 

### Example

In [39]:
# Select rows in CSM with more than 50 species in winter or fall 
df[ (df['CSM_winter']>50) | (df['CSM_fall']>50) ]

,year,CSM_winter,CSM_spring,CSM_fall,MUL_winter,MUL_spring,MUL_fall,SDW_winter,SDW_spring,SDW_fall,TJE_winter,TJE_spring,TJE_fall
2,2012,51.0,43.0,49.0,57.0,58.0,53.0,71.0,72.0,73.0,70.0,63.0,69.0
11,2021,47.0,44.0,53.0,54.0,55.0,60.0,57.0,58.0,57.0,53.0,68.0,51.0
13,2023,56.0,43.0,36.0,72.0,59.0,53.0,64.0,63.0,33.0,60.0,56.0,38.0

In [40]:
# select both CSM snf SDW have mpre than 60 bord species during spring 
df[ (df['CSM_spring']>60) & (df['SDW_spring']>60) ]

Empty DataFrame
Columns: [year, CSM_winter, CSM_spring, CSM_fall, MUL_winter, MUL_spring, MUL_fall, SDW_winter, SDW_spring, SDW_fall, TJE_winter, TJE_spring, TJE_fall]
Index: []

In [51]:
sub_df = df[ (df['CSM_spring']>40)] #selecting row conditionals 
sub_df = sub_df[['CSM_spring', 'CSM_winter']] #isolating 1 column --> series 

sub_df

    CSM_spring  CSM_winter
1         44.0        48.0
2         43.0        51.0
3         46.0        42.0
4         43.0        38.0
5         42.0        44.0
7         41.0        46.0
8         48.0        48.0
11        44.0        47.0
12        46.0        40.0
13        43.0        56.0